body{
    background-color: #f9f9f9;
}

/*======================================================================================== 
Logo Section
========================================================================================*/
.logo-section img{
    cursor: pointer;
    transition: 1.5s;
}
.logo-section img:hover{
    transform: scale(1.15);
}

/*======================================================================================== 
Spinner Section 
========================================================================================*/
#spinner{
    display: none;
    position: absolute;
    top: 15%;
    left: 20%;
}

/*======================================================================================== 
Main Content 
========================================================================================*/
.main-content-area{
    min-height: 88vh;
}
.card:hover{
    box-shadow: 6px 6px 20px #79AEFC !important;
}
.card img{
    width: 65%;
    margin: auto;
}
.text-bold{
    font-weight: 700;
}
#more-results-btn{
    display: none;
}
.data-set-2{
    display: none;
}

/*======================================================================================== 
No results found Section 
========================================================================================*/
#no-results{
    display: none;
}

/*======================================================================================== 
Footer Section 
========================================================================================*/
footer a{
    text-decoration: none;
    font-weight: 700;
}