body{
    background-color: #f9f9f9;
}

/* Logo Section */
.logo-section img{
    cursor: pointer;
    transition: 1.5s;
}
.logo-section img:hover{
    transform: scale(1.15);
}

/* Main Content */
.main-content, #show-more-btn{
    /* display: none; */
}
.card img{
    width: 65%;
    margin: auto;
}

/* Stand By Image */

/* No results found Section */
#no-results-msg{
    display: none;
}

/* Footer Section */
footer{
    margin-top: 6%;
}
footer a{
    text-decoration: none;
    font-weight: 700;
}